body {
  font-family: 'PT Sans', sans-serif;
    margin: 0px; paddin: 0px;
}

hr {
  opacity: 0.3;
}
.lw { font-size: 60px; }
.big {font-size: 24;}
.hidden {
  visibility:  hidden;
}
.menu {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #eee;
  padding:  2px;
  width: 100%;
  min-width: 650px;
  height: 32px;
  z-index: 1001;
}

.menu-item {
  position:  relative;
  display: inline-block;
  cursor:  pointer;
  padding:  6px 5px;
  height: 18px;
  z-index: 1000;
}
/*
.menu-item > span {
  top: 10px;
}
*/
.menu-item i {
  margin-right: 3px;
}
.menu-item-logo > i{
    font-size: 18px;
    cursor: none;
}
 .menu-item-tip {
  position: absolute;
  top: 30px;
  left: 5px;
  border: 1px solid #ccc;
  width: 200px;
  background:  #eee;
  display: none;
  padding: 5px;
}
.menu-item-tip-right{
  position: absolute;
  top: 30px;
  right: 5px;
  border: 1px solid #ccc;
  width: 200px;
  background:  #eee;
  display: none;
  padding: 5px;
  z-index: 900;
}
.last-item {
  float: right;
  margin-right: 8px;
}
.search-input {
  margin-top: -10px;
  width: 280px;
  opacity: 0.7;
  font-size: 14px;
  height: 2.0em;
}
.search-input:hover {
  opacity: 1;

}
.tip-item:hover {
  opacity: 0.7;
}
.tip-button {
  margin-top: 5px;
  width: 100%;
  font-size: 14px;
  height: 2.0em;
  cursor: pointer;
}

.tip-button:hover {
  opacity: 0.7;
}
.tip-input {
  height: 2.0em;
  width: 98%;
  opacity: 0.7;
  font-size: 14px;

}
.tip-input:hover {
  opacity: 1;
}
.menu-item:hover {
  background:  #eee;
  text-decoration: underline;
}
.text {
    position: relative;
  padding: 0 8px;
    width: 100%;
}
.loader {
    position: absolute;
    top: 45px;
    left: 45%;
    color: gray;
}
.login-loader  {
    color: gray;
  display: none;
}
.logout-loader  {
    color: gray;
  display: none;
}
